/* import auxillary css stylesheets */

/* overall blog layout */
@import "blog_layout.css";

/* top navigation bar and sidebar navigation including about me */
@import "navigation.css";

/* mobile responsive rules */
@import "blog_responsive.css";

html {
}
/* rules that apply to entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    
}
.fb-logo {
    width: 67%;
    height: auto;
    background-color: black; #bfbfbf;
    border-radius: 50%;
}
.ig-logo {
    width: 67%;
    height: auto;
    margin-top: 3px;
}
.tw-logo {
    width: 67%;
    height: auto;
    background-color: black; #bfbfbf;

}
.li-logo {
    width: 67%;
    height: auto;
    margin-left: 3px;
    /*background-color: black; #bfbfbf;
    border-color: 1px solid black;*/
}
