/* responsive behavior */
@media only screen and (max-width:720px) {
h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 6px;
}
h2.title-description {
    font-size: 0.75em;
    /*place-self: center center;*/
    text-align: center;
}
h2.blog-title {
    font-size: 1.3em;
}
h3.top-menu {
    font-size: 0.85em;
    grid-area: center;
}
.logo{
    transform: scale(1.25);
    vertical-align: baseline;
}
#author-info {
    width: 200px;
    right: -200px;
}
#author-info:target {
    transform: translateX(-200px);
}
#dashboard a {
    font-size: 1em;
}
}

@media only screen and (max-width:600px) {
    .grid-container {
        grid-template-rows: 42px 95px 1fr 15px;
    }

    .navbar {
        grid-template-columns: 290px 1fr 90px 35px 35px 15px;
    }
    /* responsive Blog Title */
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
        text-align: left;
        margin-left: 6px;
    }
    h3.top-menu {
        font-size: 0.75em;
        grid-area: center;
    }
    h2.title-description {
        font-size: 0.65em;
        /*place-self: center center;*/
        text-align: center;
    }
    h2.blog-title {
        font-size: 1.15em;
    }
    .logo{
        transform: scale(1);
    }
    article.blog-content {
        column-count: 1;
    }
    #dashboard,
    #author-info {
        margin-top: 40px;
    }
    #dashboard a {
        font-size: 0.95em;
    }
    .about-title {
        font-size: 1em;
    }
    .social-media {
        padding-top: 2px;
        padding-bottom: 2px;
        right: 40px;
    }
}

@media only screen and (max-width:460px){
    .grid-container {
        grid-template-rows: 35px 90px 1fr 15px;
        padding-bottom: 44px;    /* Footer height */
    }

    .navbar {
        grid-template-columns: 195px 1fr 40px 30px 30px 10px; /* 210px 1fr 75px 35px 35px 10px;*/
    }
    .top-nav {
        grid-template-columns: 1fr 300px 1fr;
    }
    /* responsive Blog Title */
    h1 {
        font-size: 1.15em; 1.2em;
    }
    h3.top-menu {
        font-size: 0.7em;
    }
    h2.blog-title {
        font-size: 1.1em;
    }
    /* max column count */
    article.blog-content {
        column-count: 1;
    }
    #dashboard, #author-info {
        margin-top: 35px;
    }
    #dashboard a {
        font-size: 0.85em;
    }
    .footer {
        height: 44px;
        padding-bottom: 1px;
        padding-top: 3px;
        font-size: 0.95em;
    }

    #subscribe-label {
        display: block;
    }
    .follow-button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .social-media {
        padding-top: 2px;
        padding-bottom: 2px;
        right: 36px;
    }
}
