/* responsive behavior */
@media only screen and (max-width:720px) {
/* responsive search bar */
input.search-button-large {
    display: none;
}
/* responsive search icon only*/
input.search-button-small {
    display: inline-block;
}
h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 6px;
}
h2.title-description {
    font-size: 0.75em;
    /*place-self: center center;*/
    text-align: center;
}
h2.blog-title {
    font-size: 1.3em;
}
h3.top-menu {
    font-size: 0.85em;
    grid-area: center;
}
.logo{
    transform: scale(1.25);
    vertical-align: baseline;
}
#about-me {
    width: 200px;
    right: -200px;
}
#about-me:target {
    transform: translateX(-200px);
}
#dashboard a {
    font-size: 1em;
}
}

@media only screen and (max-width:600px) {
    .grid-container {
        grid-template-rows: 42px 95px 1fr 15px 30px;
    }

    .navbar {
        grid-template-columns: 290px 1fr 90px 35px 35px 15px;
    }
    /* responsive Blog Title */
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
        text-align: left;
        margin-left: 6px;
    }
    h3.top-menu {
        font-size: 0.75em;
        grid-area: center;
    }
    h2.title-description {
        font-size: 0.65em;
        /*place-self: center center;*/
        text-align: center;
    }
    h2.blog-title {
        font-size: 1.15em;
    }
    .logo{
        transform: scale(1);
    }
    article.blog-content {
        column-count: 1;
    }
    #dashboard,
    #about-me {
        margin-top: 40px;
    }
    #dashboard a {
        font-size: 0.95em;
    }
    .about-title {
        font-size: 1em;
    }
}

@media only screen and (max-width:460px){
    .grid-container {
        grid-template-rows: 35px 90px 1fr 15px 44px;
    }

    .navbar {
        grid-template-columns: 210px 1fr 75px 35px 35px 10px;

    }
    /* responsive Blog Title */
    h1 {
        font-size: 1.2em;
    }
    h3.top-menu {
        font-size: 0.7em;
    }
    h2.blog-title {
        font-size: 1.1em;
    }
    /* max column count */
    article.blog-content {
        column-count: 1;
    }
    #dashboard, #about-me {
        margin-top: 30px;
    }
    #dashboard a {
        font-size: 0.85em;
    }
    .footer {
        padding-bottom: 1px;
        padding-top: 3px;
        font-size: 0.95em;
    }
    #subscribe-label {
        display: block;
    }
}
