
.grid-container {
    display: grid;
    grid-template-rows: 42px 195px 500px 500px 500px 500px 29px;
    grid-template-areas: "navbar" "heading" "content1" "content2" "content3" "content4" "footer";
    grid-template-columns: 1fr;
}

.content-1 {
    grid-area: content1; /* 3 / 1 / span 1 / span 1;*/
    /* opposing top padding & margin allow for title to show when clicking navigation links */
    padding-top: 40px;
    margin-top: -40px;
}
.content-2 {
    grid-area: content2; /* 4 / 1 / span 1 / span 1; */
    /* opposing top padding & margin allow for title to show when clicking navigation links */
    padding-top: 40px;
    margin-top: -40px;
}

.content-3 {
    grid-area: content3; /* 5 / 1 / span 1 / span 1; */
    /* opposing top padding & margin allow for title to show when clicking navigation links */
    padding-top: 40px;
    margin-top: -40px;
}
.content-4 {
    grid-area: content4; /* 6 / 1 / span 1 / span 1; */
    /* opposing top padding & margin allow for title to show when clicking navigation links */
    padding-top: 40px;
    margin-top: -40px;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: grey;
    color: white;
    margin-left: 0;
    margin-right: 0;
}

.content-areas {
    display: grid;
    grid-template-rows: 40px 460px;
    grid-template-areas: "title" "blog-content";
}

.content-flex {
    grid-area: "blog-content";
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

h4.content-border {
    margin-top: 0px;
    font-size: 1.1em;
    border-top: 1px solid #bfbfbf;
    grid-area: "title";
}
.content-title {
    position: absolute;
    margin-left: 1em;
    margin-top: .5em;
    color: #696969;
}
.blog-post-container {
    position: relative;
    max-height: 100%;
    width: 360px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog-post {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 390px;
    height: 390px;
    min-width: 360px;
    width: 360px;
    overflow-y: auto; scroll;
}

.blog-photo-2 {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

div.blog-photo-container {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.blog-photo-link {
}

.blog-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.blog-timestamp {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); white;
    text-align: left;
    background: rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 5px;
    padding: 0 5px;
}

.blog-title {
    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); white;
    text-align: left;
    z-index: 1;
    background: rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 5px;
    padding: 0px 5px;
}

div.blog-reaction-container {
    position: absolute;
    display: block;
    bottom: 0px;
    min-height: 30px;
    height: 30px;
    min-width: 360px;
    width: 360px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: #bfbfbf; lightgrey;
    opacity: 0.7;
}
ul.blog-reactions {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
}
ul.blog-reactions li {
    /*position: relative;
    float: left;*/
    display: block; table-cell;
    text-align: center;
}
ul.blog-reactions li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    z-index: 2;
    margin-top: 5px;
    /*left: 50%;
    margin-left: 15px;
    margin-right: 20px;*/
    transform: scale(.9);
}
input {
    border-radius: 2px;
    border: 1px solid grey;
}
input[type="text"]:focus {
}
input[type="submit"] {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}
