
/* for landing page project, please look at navbar__menu code below */
/* you'll note navbar__menu is referred to by app.js */
.topbar {
    grid-area: navbar; /* 1 / 1 / span 1 / span 1; */
    /* header navigation grid */
    display: grid;
    /*height: 40px;*/
    position: sticky;
    top: 0;
    /*position: fixed;*/
    /*width: 99vw;*/
    grid-template-columns: 360px 1fr 90px 40px 43px 20px;
    grid-template-rows: 1fr;
    grid-template-areas: "nav centergap search follow menu sidegap";
    justify-items: end;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 2px solid grey; #bfbfbf; grey;
    background-color: grey; #bfbfbf; grey; #d6e0f5; #f0f0f5;
    z-index:2;
}
h1 {
    font-size: 1.5em;
    letter-spacing:.1em;
    grid-area: nav;
    color: white;
    margin-left: 12px;
    text-align: left;
    place-self: center start;
    font-weight: 600;
}
h1 span {
    color: white;
}
h1 a {
    text-decoration: none;
    color: white;
}
.logo{
    transform: scale(1.4);
    z-index: -1;
    vertical-align: baseline;
}

.social-dropdown {
    grid-area: follow;
    align-self: center;
}
.follow-button {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin-top: 9px;
    margin-bottom: 9px;
}
.social-media {
    display: none;
    background-color: white;
    width: 43px;
    height: auto;
    position: absolute;
    padding-top: 2px;
    padding-bottom: 2px;
    right: 50px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* menu appears as floating card w/out need for border */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.social-media::before {
    content: "Follow";
    font-size: 0.8em;
}
.social-media a {
    display: block;
}

#fb-logo {
    width: 67%;
    height: auto;
    background-color: black; #bfbfbf;
    border-radius: 50%;
    margin-top: 3px;
}
#ig-logo {
    width: 67%;
    height: auto;
    margin-top: 3px;
}
#gh-logo {
    width: 67%;
    height: auto;
}
#tw-logo {
    width: 70%;
    height: auto;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;

}
#li-logo {
    width: 70%;
    height: auto;
    margin-left: 3px;
    margin-top: 3px;
    /*background-color: black; #bfbfbf;
    border-color: 1px solid black;*/
}
.social-dropdown:hover .social-media {
    display: block;
}

.menu-button {
    grid-area: menu;
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
form.search-button {
    grid-area: search;
    font-size: 1em;
    transform: scale(1.15);
}

form .search {
    vertical-align: text-bottom;
    text-decoration: none;
    color: white;
}

.heading, .page__header {
    grid-area: heading;
    background-image: url("../images/IMG_9074.jpeg");
    background-position: 50% 40%;
    background-size: cover;
}

#dashboard {
    /*height: 100vh;*/
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;
    min-height: 100vh; /* override Safari bug */
    position: fixed;
    margin-top: 42px;
    width: 155px;
    right: -155px;
    background: white; #bfbfbf;
    z-index: 2;
    border-left: 1px solid #bfbfbf;
    line-height: 1.5em;
}

#dashboard:target {
  transform: translateX(-155px);
}

#dashboard ul {
    list-style: none;
    margin-left: 15px;
}
#dashboard li {
    display: block;
    margin-top: 10px;
}
#dashboard a {
    text-decoration: none;
    color: black;
/*    font-weight: 500;
    font-size: 1.1em;*/
}

.close-sidebar {
    margin-top: 5px;
    margin-left: 2px;
}
.sidebar-icons {
    position: absolute;
    right: 15px;
    vertical-align: text-bottom; top;
    transform: scale(1.4);
}

#author-info {
    /*height: 100vh;*/
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;
    min-height: 100vh; /* override Safari bug */
    position: fixed;
    margin-top: 42px;
    width: 240px;
    right: -240px;
    background: white; #bfbfbf;
    z-index: 3;
    border-left: 1px solid #bfbfbf;
    line-height: 1.5em;
}

#author-info:target {
  transform: translateX(-240px);
}
#author-info ul {
    width: 85%;
    display: block;
    text-align: left;
    margin-left: 25px;
    list-style: circle;
}
#author-info p {
    margin-left: 15px;
}
.close-about {
    margin-top: 5px;
    margin-left: 2px;
    text-decoration: none;
    color: black;
    display: block;
}
.profile-pic {
    display: block;
    margin-top: 10px;
    margin-left: 8%;
    width: 85%;
    height: 17%;
    border-radius: 5px;
    top: 50%;
    left: 20%;
    object-fit: cover;
}
.about-title {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.about-blurb {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.top-nav, .navbar__menu {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-areas: "left center right";
    grid-template-rows: 2fr;
    text-align: center;
}
h3.top-menu {
    display: inline-block;
    grid-area: 1 / 2 / span 1/ span 1;
    font-size: 1em;
    margin-bottom: 0;
    padding: 0;
    vertical-align: middle;
}

.top-nav h3 ul {
    list-style: none;
    margin-top: 10px;
}
.navbar__menu h3 ul {
    list-style: none;
    margin-top: 10px;
}
#navbar__list li{
    display: inline-block;
    color: white;
    /* rebuild of menu as dynamic content*/
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
#navbar__list li a {
    text-decoration: none;
    color: white;
}

#navbar__list li span {
    cursor: default;
}
h3.side-menu {
    font-weight: 500;
    font-size: 1.1em;
}
.side-menu li {
    cursor: pointer;
}
/*
.side-menu a, span {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
}
*/
h2.title-description {
    font-size: 1em;
    color: white;
    grid-area: 2 / 2 / span 1/ span 1;
    /*place-self: center center;*/
    text-align: center;
    vertical-align: middle;
    /*place-self: center start;*/
    margin-top: 3px;
    font-weight: 300;
    font-style: italic;
}
