/* import auxillary css stylesheets */
/* overall grid layout using css grid */
@import "layout.css";
/* top navigation bar and sidebar navigation including about me */
@import "navigation.css";
/* mobile responsive rules */
@import "mobile_responsive.css";

html {
}
/* rules that apply to entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
}
